.w100{
  width: 100%;
}

.fc8{
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.fr8{
  display: flex;
  gap: 8px;
}

.wrap{
  flex-wrap: wrap;
}

.mobileWrap{
  @media (max-width: 1000px) {
    flex-wrap: wrap;
  }
}
